DB_PASSWORD = 1234
DB_NAME = DiagramOfClassDB
DB_HOST = localhost
DB_PORT = 5432
DB_USERNAME = postgres


PORT=3000

CLOUDINARY_NAME = 
CLOUDINARY_API_KEY = 261
CLOUDINARY_API_SECRET = c9rjlbgF2O

JWT_SECRET = DiSTitOSieTE
